* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
* a {
  text-decoration: none;
}
* button {
  outline: none;
}
select {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid var(--select-border);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  cursor: pointer;
  color: var(--primary-text);
  line-height: 0;
  background-color: var(--white);
}
body {
  --primary-text: #333;
  --staywhite: #f3f3f3;
  --blue: #009ddb;
  --white: white;
  --gray: #f3f3f3;
  --darkblue: #003f5c;
  --grayblue: #2f4b7c;
  --purple: #665191;
  --lightpurple: #a05195;
  --pink: #d45087;
  --green: #66c266;
  --red: #f95d6a;
  --yellow: #ffcc00;
  --darkgray: #333;
  --orange: #ff7c43;
  --gold: #ffa600;
  --dark: #121212;
  --lightdark: #272727;
  --darktext: #999999;
  --navmenu: #e2e2e2;
  --header: var(--darkblue);
  --subsection: var(--darktext);
  --tablehead: var(--blue);
  --borderOnHover: 2px solid var(--blue);
}
body.dark {
  --primary-text: rgba(255, 255, 255, 0.87);
  --blue: #009ddb;
  --white: #242424;
  --gray: #121212;
  --darkblue: #003f5c;
  --grayblue: #2f4b7c;
  --purple: #665191;
  --lightpurple: #a05195;
  --pink: #d45087;
  --red: #f95d6a;
  --yellow: #ffcc00;
  --darkgray: #333;
  --orange: #ff7c43;
  --gold: #ffa600;
  --dark: #121212;
  --lightdark: #272727;
  --darktext: #999999;
  --black: #010101;
  --header: var(--darkblue);
  --navmenu: var(--black);
  --tablehead: var(--darkblue);
}
.centerjustify {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.open {
  width: 100% !important;
}
.hidden {
  display: none !important;
}
#navMenu {
  background-color: var(--navmenu);
  position: fixed;
  z-index: 4;
  top: 4rem;
  width: 250px;
  height: calc(100vh - 4rem);
  width: 0;
  overflow: scroll;
  -webkit-transition: width ease-out 0.1s;
  -o-transition: width ease-out 0.1s;
  transition: width ease-out 0.1s;
  padding-bottom: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#navMenu::-webkit-scrollbar {
  display: none;
}
#navMenu .linkContainer {
  padding-top: 1rem;
}
@media only screen and (min-width:1366px) {
  #navMenu {
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 1rem;
  }
  #navMenu .linkContainer {
    padding-top: 4rem;
  }
}
#navMenu .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}
#navMenu .selectedLink {
  color: var(--white);
  background-color: var(--blue);
  padding: 6px 8px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}
#navMenu .subSection {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--subsection);
}
#navMenu a {
  text-align: center;
  margin: 0 1rem;
  font-size: 1.25rem;
  color: var(--primary-text);
  padding: 6px 8px;
  display: block;
  margin-bottom: 10px;
}
#navMenu .donate {
  margin-top: 2rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
}
#themeSelector {
  margin: 0 auto 1rem auto;
  position: relative;
  height: 2rem;
  padding: 6px 8px;
}
#themeSelector .themeText {
  color: var(--primary-text);
  font-size: 1rem;
  position: absolute;
  left: calc(50% - 4rem);
}
#themeSelector button {
  display: block;
  margin: 0;
  position: absolute;
  top: 4px;
  left: 50%;
}
.header {
  background-color: var(--header);
  width: 100%;
  padding: 1rem;
  position: relative;
  height: 4rem;
  z-index: 5;
}
.header .siteName {
  display: block;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width:1366px) {
  .header .siteName {
    text-align: left;
    position: relative;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    left: 1rem;
    top: -3px;
  }
}
@media only screen and (min-width:1366px) {
  .header {
    position: fixed;
  }
}
.page {
  display: block;
  padding: 1rem;
  background-color: var(--gray);
  width: 100%;
  min-height: 100vh;
}
.page .pageTitle {
  color: var(--primary-text);
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width:1366px) {
  .page .pageTitle {
    display: none;
  }
}
@media only screen and (min-width:1366px) {
  .page {
    position: absolute;
    padding: 1rem;
    top: 4rem;
    left: 250px;
    width: calc(100% - 250px);
  }
}
.chartContainer {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 5px;
}
.chartContainer canvas {
  max-width: 100%;
  height: 100vh !important;
  max-height: 250px;
}
@media only screen and (min-width:1680px) {
  .chartContainer canvas {
    height: 25vh;
    max-height: 25vh;
  }
}
.chartContainer table {
  height: auto;
}
.chartContainer table td {
  background-color: var(--gray);
}
.chartTitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-text);
}
.chartButtonContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
.chartButtonContainer .chartTypeButton {
  font-size: 12px;
  letter-spacing: 0;
  display: inline-block;
  background-color: var(--gray);
  color: var(--primary-text);
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
.chartButtonContainer .chartTypeButton:hover {
  cursor: pointer;
}
.chartButtonContainer .chartTypeButton + .chartTypeButton {
  margin-left: 0.5rem;
}
#chartGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media only screen and (min-width: 1024px) {
  #chartGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1680px) {
  #chartGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
#chartGridAge {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media only screen and (min-width: 1024px) {
  #chartGridAge {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1680px) {
  #chartGridAge {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  #chartGridAge {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1680px) {
  #chartGridAge {
    grid-template-columns: repeat(2, 1fr);
  }
}
#chartGridRace {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media only screen and (min-width: 1024px) {
  #chartGridRace {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1680px) {
  #chartGridRace {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  #chartGridRace {
    grid-template-columns: repeat(2, 1fr);
  }
  #chartGridRace :nth-child(3) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  #chartGridRace :nth-child(3) canvas {
    height: 450px;
  }
}
#fullPageChart {
  display: block;
}
#fullPageChart canvas {
  height: 100%;
  max-height: 60vh;
}
#cityGrid {
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
#cityGrid .chartContainer canvas {
  max-height: 100vh !important;
}
@media only screen and (min-width:1366px) {
  #cityGrid .chartContainer canvas {
    max-height: 700px !important;
  }
}
@media only screen and (min-width: 768px) {
  #cityGrid {
    grid-template-columns: minmax(auto, 320px) 1fr;
  }
}
@media only screen and (min-width: 1366px) {
  #cityGrid {
    grid-template-columns: 400px 1fr;
  }
}
.timeFilterTitle {
  text-align: center;
  color: var(--blue);
}
@media only screen and (min-width:520px) {
  .timeFilterTitle {
    text-align: left;
  }
}
@media only screen and (min-width:1366px) {
  .timeFilterTitle {
    text-align: center;
  }
}
.timeParent {
  margin: 10px auto;
  display: block;
}
.timeParent .timeButtonContainer {
  margin: -10px 0 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.timeParent .timeButtonContainer a,
.timeParent .timeButtonContainer select {
  margin: 10px 0 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  background-color: var(--white);
  padding: 6px 8px;
  border-radius: 10px;
  color: var(--primary-text);
}
.timeParent .timeButtonContainer a:hover,
.timeParent .timeButtonContainer select:hover {
  cursor: pointer;
}
@media only screen and (min-width:1366px) {
  .timeParent .timeButtonContainer a,
  .timeParent .timeButtonContainer select {
    font-size: 1rem;
  }
}
@media only screen and (min-width:1366px) {
  .timeParent .timeButtonContainer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .timeParent .timeButtonContainer a {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.active {
  color: var(--staywhite) !important;
  background-color: var(--blue) !important;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.widget {
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
}
.widget .statName {
  color: var(--primary-text);
  font-weight: 300;
  font-size: 12px;
}
.widget .stat {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1rem;
}
@media only screen and (min-width:1366px) {
  .widget .statName {
    font-size: 1rem;
  }
}
.widgetGrid {
  margin: -10px 0 2rem -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.widgetGrid .widget {
  margin: 10px 0 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1rem;
}
.widgetGrid .gaugeContainer {
  border-radius: 5px;
  margin: 10px 0 0 10px;
  background-color: var(--white);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: auto;
  padding: 1rem;
}
.widgetGrid .gaugeContainer svg.speedometer {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  overflow-y: hidden;
  padding: 0;
}
.homeWidgetGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}
.homeWidgetGrid > a {
  border-radius: 5px;
  padding: 2rem 1rem;
  background-color: var(--white);
  position: relative;
  margin: 10px 0 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media only screen and (min-width:520px) {
  .homeWidgetGrid > a {
    padding: 1rem;
  }
}
@media only screen and (min-width:1920px) {
  .homeWidgetGrid > a {
    padding: 2rem;
  }
}
.homeWidgetGrid > a:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: var(--borderOnHover);
}
.homeWidgetGrid > a .innerDiv {
  position: relative;
}
.homeWidgetGrid > a .innerDiv .widgetTitle {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-text);
}
.homeWidgetGrid > a .innerDiv .subFlex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: -10px 0 0 -10px;
}
.homeWidgetGrid > a .innerDiv .subFlex .widget {
  margin: 10px 0 0 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: var(--gray);
}
#homeGauges {
  margin-top: 10px;
  background-color: var(--white);
}
#homeGauges #testsper100 {
  padding: 2rem 0;
}
#homeGauges .statName {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-text);
}
#homeGauges .stat {
  font-size: 2rem;
}
#homeGauges:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: var(--borderOnHover);
}
table {
  width: 100%;
  height: 100%;
}
table th {
  background-color: var(--tablehead);
  padding: 6px 8px;
  color: var(--staywhite);
  text-align: left;
}
table td {
  background-color: var(--white);
  padding: 6px 8px;
  text-align: left;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 0.8rem;
}
.title404,
.donate {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: calc(100% - 2rem);
}
@media only screen and (min-width:520px) {
  .title404,
  .donate {
    max-width: 500px;
  }
}
.title404 h1,
.donate h1 {
  font-size: 2rem;
  color: var(--primary-text);
}
.title404 p,
.donate p {
  display: block;
  margin: 2rem auto;
  font-size: 1.25rem;
  color: var(--primary-text);
}
@media only screen and (min-width:1366px) {
  .title404 p,
  .donate p {
    font-size: 2rem;
    max-width: 800px;
  }
}
a.globButton {
  background-color: var(--blue);
  border-radius: 5px;
  padding: 8px 16px !important;
  display: block;
  margin: 1rem auto !important;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--staywhite) !important;
}
.forceTableSep {
  color: var(--primary-text);
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}
#multiCitySelect {
  background-color: var(--white);
  margin: 1em auto 1rem auto;
  border-radius: 5px;
}
#multiCitySelect:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: var(--borderOnHover);
}
#multiCitySelect .cityselecttitle {
  padding: 1rem;
  text-align: center;
  color: var(--blue);
  display: block;
  font-weight: 500;
}
@media only screen and (min-width:520px) {
  #multiCitySelect .cityselecttitle {
    font-size: 1.5rem;
  }
}
#multiCitySelect .citySelectorContainer {
  overflow-y: hidden;
  height: 100%;
  -webkit-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
#multiCitySelect ul {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 500px;
}
#multiCitySelect ul li {
  list-style: none;
  font-size: 12px;
  margin-top: 5px;
}
#multiCitySelect ul li input[type=checkbox] {
  display: block;
  float: left;
  margin-right: 5px;
}
@media only screen and (min-width:520px) {
  #multiCitySelect ul {
    max-height: 300px;
  }
  #multiCitySelect ul li {
    font-size: 14px;
  }
}
@media only screen and (min-width:1366px) {
  #multiCitySelect ul {
    max-height: 300px;
  }
  #multiCitySelect ul li {
    font-size: 16px;
  }
}
@media only screen and (min-width:1920px) {
  #multiCitySelect ul {
    max-height: 150px;
  }
  #multiCitySelect ul li {
    font-size: 1rem;
  }
}
.loadDataButton {
  background-color: var(--blue);
  border-radius: 5px;
  padding: 8px 16px !important;
  display: block;
  margin: 1rem auto !important;
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--staywhite) !important;
}
