* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
* a {
  text-decoration: none;
}
* button {
  outline: none;
}
.centerjustify {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.open {
  width: 100% !important;
}
#navMenu {
  background-color: #272727;
  position: fixed;
  width: 100%;
  height: 100vh;
  width: 0;
  overflow: hidden;
  -webkit-transition: width ease-out 0.1s;
  -o-transition: width ease-out 0.1s;
  transition: width ease-out 0.1s;
}
#navMenu .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}
#navMenu .selectedLink {
  font-weight: 600;
  color: #ffa600;
}
#navMenu .subSection {
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
}
#navMenu a {
  margin: 1rem;
  font-size: 1.75rem;
  color: white;
  display: block;
  margin-bottom: 1rem;
}
.header {
  background-color: #003f5c;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.header .siteName {
  display: block;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page {
  display: block;
  padding: 1rem;
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}
.page .pageTitle {
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}
#chartGrid {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media only screen and (min-width:500px) {
  #chartGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1366px) {
  #chartGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
#chartGrid .chartContainer {
  background-color: white;
  padding: 1rem;
}
#chartGrid .chartContainer canvas {
  max-width: 100%;
  height: 100%;
  max-height: 300px;
}
@media only screen and (min-width:1366px) {
  #chartGrid .chartContainer canvas {
    max-height: 400px;
  }
}
#chartGrid .chartTitle {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #121212;
}
#chartGrid .chartButtonContainer {
  margin-top: 1rem;
  display: block;
  text-align: center;
}
#chartGrid .chartButtonContainer .chartTypeButton {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
#chartGrid .chartButtonContainer .chartTypeButton:hover {
  cursor: pointer;
}
#chartGrid .chartButtonContainer .chartTypeButton + .chartTypeButton {
  margin-left: 5px;
}
.timeFilterTitle {
  margin-top: 2rem;
  text-align: center;
  color: #009ddb;
}
@media only screen and (min-width:500px) {
  .timeFilterTitle {
    text-align: left;
  }
}
.timeButtonContainer {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media only screen and (min-width:500px) {
  .timeButtonContainer {
    justify-content: start;
  }
}
.timeButtonContainer a {
  font-size: 12px;
  text-align: center;
  background-color: white;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
.timeButtonContainer a:hover {
  cursor: pointer;
  background-color: #009ddb;
}
.timeButtonContainer a + a {
  margin-left: 1rem;
}
.active {
  color: white;
  background-color: #009ddb !important;
}
.widgetGrid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
@media only screen and (min-width:500px) {
  .widgetGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media only screen and (min-width:1366px) {
  .widgetGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.widgetGrid .widget {
  padding: 1rem;
  text-align: center;
  background-color: white;
}
.widgetGrid .widget .stat {
  font-weight: 500;
}
