* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
* a {
  text-decoration: none;
}
* button {
  outline: none;
}
.centerjustify {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.open {
  width: 100% !important;
}
.hidden {
  display: none !important;
}
#navMenu {
  background-color: #e2e2e2;
  position: fixed;
  top: 4rem;
  width: 250px;
  height: calc(100vh - 4rem);
  width: 0;
  overflow: scroll;
  -webkit-transition: width ease-out 0.1s;
  -o-transition: width ease-out 0.1s;
  transition: width ease-out 0.1s;
}
@media only screen and (min-width:1366px) {
  #navMenu {
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 1rem;
  }
  #navMenu .linkContainer {
    padding-top: 4rem;
  }
}
#navMenu .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}
#navMenu .selectedLink {
  color: white;
  background-color: #009ddb;
  padding: 6px 8px;
  border-radius: 5px;
  box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.15);
}
#navMenu .subSection {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #333;
}
#navMenu a {
  text-align: center;
  margin: 1rem;
  font-size: 1.25rem;
  color: #272727;
  padding: 6px 8px;
  display: block;
  margin-bottom: 1rem;
}
#navMenu .donate {
  margin-top: 4rem;
  background-color: #009ddb;
  color: white;
  border-radius: 5px;
}
.header {
  background-color: #003f5c;
  width: 100%;
  padding: 1rem;
  position: relative;
  height: 4rem;
  z-index: 5;
}
.header .siteName {
  display: block;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width:1366px) {
  .header .siteName {
    text-align: left;
    position: relative;
    transform: translate(0, 0);
    left: 1rem;
    top: -3px;
  }
}
@media only screen and (min-width:1366px) {
  .header {
    position: fixed;
  }
}
.page {
  display: block;
  padding: 1rem;
  background-color: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}
.page .pageTitle {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width:1366px) {
  .page {
    position: absolute;
    top: 4rem;
    left: 250px;
    width: calc(100% - 250px);
  }
}
#chartGrid {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
@media only screen and (min-width:520px) {
  #chartGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1366px) {
  #chartGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
#chartGrid .chartContainer {
  background-color: white;
  padding: 1rem;
}
#chartGrid .chartContainer canvas {
  max-width: 100%;
  height: 100%;
  max-height: 300px;
}
@media only screen and (min-width:1366px) {
  #chartGrid .chartContainer canvas {
    max-height: 400px;
  }
}
#chartGrid .chartTitle {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #121212;
}
#chartGrid .chartButtonContainer {
  margin-top: 1rem;
  display: block;
  text-align: center;
}
#chartGrid .chartButtonContainer .chartTypeButton {
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
#chartGrid .chartButtonContainer .chartTypeButton:hover {
  cursor: pointer;
}
#chartGrid .chartButtonContainer .chartTypeButton + .chartTypeButton {
  margin-left: 0.5rem;
}
.timeFilterTitle {
  margin-top: 2rem;
  text-align: center;
  color: #009ddb;
}
@media only screen and (min-width:520px) {
  .timeFilterTitle {
    text-align: left;
  }
}
.timeParent {
  margin: 1rem auto;
  display: block;
}
.timeParent .timeButtonContainer {
  margin: -1rem 0 0 -1rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.timeParent .timeButtonContainer a {
  margin: 1rem 0 0 1rem;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background-color: white;
  padding: 6px 8px;
  border-radius: 20px;
}
.timeParent .timeButtonContainer a:hover {
  cursor: pointer;
  background-color: #009ddb;
}
.active {
  color: white;
  background-color: #009ddb !important;
  box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.15);
}
.widgetGrid {
  margin: 0 0 0 -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.widgetGrid .widget {
  margin: 1rem 0 0 1rem;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  background-color: white;
}
.widgetGrid .widget .statName {
  color: #333;
  font-weight: 300;
}
.widgetGrid .widget .stat {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}
