@wide: ~"only screen and (min-width:1366px)";
@wider1366: ~"only screen and (min-width:1366px)";
@wider1680: ~"only screen and (min-width:1680px)";
@wider1920: ~"only screen and (min-width:1920px)";
@taller768: ~"only screen and (min-height:768px) and (orientation:landscape)";
@taller1080: ~"only screen and (min-height:1080px) and (orientation:landscape)";
@biggerthanmobile: ~"only screen and (min-width:500px)";
@mobile: ~"only screen and (max-width:500px)";
@landscape: ~"only screen and (orientation:landscape)";
@portrait: ~"only screen and (orientation:portrait)";
@font: ~"'Work Sans',sans-serif;";
@blue: #009ddb;
@gray: #f3f3f3;
@darkblue: #003f5c;
@grayblue: #2f4b7c;
@purple: #665191;
@lightpurple: #a05195;
@pink: #d45087;
@red: #f95d6a;
@yellow: #ffcc00;
@darkgray: #333;
@orange: #ff7c43;
@gold: #ffa600;
@dark: #121212;
@lightdark: #272727;
@darktext: #999999;
@radius: 5px;
@pad: 1rem;
@padtop: 2rem 1rem;
@topm: 2rem;
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  a {
    text-decoration: none;
  }
  button {
    outline: none;
  }
  overflow-x: wrap;
}

.centerjustify {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%;);
  -ms-transform: translateX(-50%;);
  transform: translateX(-50%;);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@navBarWidth: 100%;
.open {
  width: 100% !important;
}
#navMenu {
  background-color: @lightdark;
  position: fixed;
  width: @navBarWidth;
  height: 100vh;
  width: 0;
  overflow: hidden;
  -webkit-transition: width ease-out 0.1s;
  -o-transition: width ease-out 0.1s;
  transition: width ease-out 0.1s;

  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
  }
  .selectedLink {
    font-weight: 600;
    color: @gold;
  }
  .subSection {
    margin: @pad;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
  }
  a {
    margin: @pad;
    font-size: 1.75rem;
    color: white;
    display: block;
    margin-bottom: 1rem;
  }
}

//Header
.header {
  background-color: @darkblue;
  width: 100%;
  padding: @pad;
  position: relative;
  .siteName {
    display: block;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    .center;
  }
}

//Page
.page {
  display: block;
  //position: absolute;
  padding: @pad;
  background-color: @gray;
  //left: @navBarWidth;
  //top: 0;
  width: 100%;
  min-height: 100vh;
  .pageTitle {
    font-weight: 300;
    margin-top: 1rem;
    text-align: center;
  }
}

#chartgrid {
  margin-top: @topm;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @media @biggerthanmobile {
    grid-template-columns: repeat(2, 1fr);
  }
  @media @wide {
    grid-template-columns: repeat(3, 1fr);
  }
  .chartContainer {
    background-color: white;
    padding: 1rem;
    canvas {
      width: 100%;
      height: 100%;
      max-height: 300px;
      @media @wide {
        max-height: 400px;
      }
    }
  }
  .chartTitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: @dark;
  }
}
